<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.7.2-web/css/all.css">

    <link rel="stylesheet" href="../assets/bootstrap/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/styles.css">
    </link>
    <title>IPFS Sharing App</title>
</head>

<body>
    <header>
        <nav class="nav-top">
            <div class="wraper">

                <ul class="nav-full">
                    <li class="nav-branch ">
                        <a class="logo" href="#">
                            <span class="special">IPFS </span><span class="stack"> <span>Sharing</span>
                                <span>Application</span></span>
                        </a>
                    </li>
                    <li class="search-area">
                        <form type="submit">
                            <input id="search-bar" name="search-bar" type="text" placeholder="Search any things">
                        </form>
                        <i id="search-icon" class="fas fa-search"></i>
                    </li>

                    <li class="menu-items">
                        <a class="first-item" href="#">Home</a>
                        <a href="#">Discovery</a>
                        <a href="#">Upload</a>
                    </li>
                    <li class="account">
                        <a href="#">Login</a> <span>/</span>
                        <a href="#">Signup</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- <nav class="nav-bot">
            <ul class="tag-list">
                <li class="tag"><a href="#">Books</a></li>
                <li class="tag"><a href="#">Musics</a></li>
                <li class="tag"><a href="#">Games</a></li>
                <li class="tag"><a href="#">Movies</a></li>
            </ul>
        </nav> -->
    </header>
    <div class="wraper">
        <div class="row body-page">
            <div id="bubble-show" class="col-lg-9 margin-right-auto ">

                <div data-aos="fade-right" class="bubble-container white-bg-trans">
                    <div class="bubble-body dp-flex bubble-flex">
                        <h3>Giới thiệu</h3>
                        <p>Đây là phần mềm chia sẻ file phi tập trung, ứng dụng công nghệ IPFS và Ethereum.</p>
                    </div>
                    <div class="bubble-foot margin-0-auto">
                        Upload A File to IPFS
                    </div>
                </div>
            </div>
            <div id="bubble-show" class="col-lg-9 margin-left-auto">

                    <div data-aos="fade-left" class="bubble-container white-bg-trans">
                        <div class="bubble-body dp-flex bubble-flex">
                            <h3>Các thành viên</h3>
                            <p>Đây là phần mềm chia sẻ file phi tập trung, ứng dụng công nghệ IPFS và Ethereum.</p>
                        </div>
                        <div class="bubble-foot margin-0-auto">
                            Upload A File to IPFS
                        </div>
                    </div>
                </div>

        </div>

    </div>
    <script>
        AOS.init();
    </script>
</body>

</html>